.container{
    
}

.top{
    display: flex;
}

.leftContainer{
    flex: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 40px;
}

.desc{
    font-size: 18px;
    font-weight: 300;
}

.author{
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar{
    object-fit: cover;
    border-radius: 50%;
}

.rightContainer{
    flex: 1;
    position: relative;
    height: 300px;
}

.image{
    object-fit: cover;
}

.bottom{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 300;
    color: #999;
    text-align: justify;
}